.form__inner {
    color: #000;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 30px;
    
}

.form {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 40px;

    &__input {
        font-size: 20px;
        padding: 10px 20px;
        border-radius: 10px;
        border: 1px solid #000000;
        @media screen and (max-width: 768px){
            font-size: 14px;
        }
    }

    &__btn {
        padding: 10px 20px;
        border: 1px solid #000000;
        transition: all 0.3s ease;
        border-radius: 10px;

        &:hover {
            background-color: #000;
            color: #fff;
        }
    }
}