.header {

    &__inner {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__nav {

        &_list {
            display: flex;
            align-items: center;
            gap: 30px;
        }

        &_item {
            

            &_btn {
                color: inherit;
                font-size: 16px;
            }
        }
    }
}