.userDoc__item {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    color: #000;
    padding: 10px 20px;
    border-radius: 20px;
    gap: 15px;
    font-weight: 400;
    padding: 30px;

    animation-name: moved;
    animation-duration: 1s;


    &_header {
        padding-bottom: 10px;
        border-bottom: 1px solid #000;
    }

    &_body {
        padding-bottom: 10px;
        border-bottom: 1px solid #000;
    }

    &_footer {
        display: flex;
        flex-direction: column;
        gap: 10px;

        &_buttons {
            display: flex;
            align-items: center;
            justify-content: space-between;

            
        }
    }

    
}

@keyframes moved {
    0% {
        transform: translateX(-1000px);
    }
    100% {
        transform: translateX(0px);
    }
}