.userDoc__item {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    color: #000;
    padding: 10px 20px;
    border-radius: 20px;
    gap: 15px;
    font-weight: 400;

    &_header {
        padding-bottom: 10px;
        border-bottom: 1px solid #000;
    }

    &_body {
        padding-bottom: 10px;
        border-bottom: 1px solid #000;
    }

    &_footer {
        display: flex;
        flex-direction: column;
        gap: 10px;

        &_buttons {
            display: flex;
            align-items: center;
            justify-content: space-between;
        }
    }

    
}

